container_commands:
  01_migrations:
    command: "python manage.py makemigrations --noinput"
  02_migrate:
    command: "python manage.py migrate --noinput"
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:application:environment:
      DJANGO_SETTINGS_MODULE: notes.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: notes/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: "static/"
